.homepage .title {
    font-size: 18px;
}

.homepage .info {
    padding: 15px;
}

.homepage .card {
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, .2);
    transition: .25s;
}

.homepage .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
}

.homepage h2 {
    font-size: 1.4rem;
}