/* 
    CSS for all app modules like Hardy-Weinberg, Genetic Distance etc
    all styles related with them are placed here 
*/
table .summary {
    background: #e9ecef;
}

table .general-result-wrapper {
    background: crimson;
}

.general-result {
    background-color: #dc143c !important;
    color: #fff;
}

.calcuate {
    display: none;
}

.calcuate-goodness {
    display: none;
}

.result-value {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-weight: bold;
}

.result-name {
    line-height: 36px;
    font-weight: bold;
}

.result-score {
    margin-bottom: 10px;
}

.codominant-wrapper,
.dominant-wrapper {
    padding-top: 32px;
    display: none;
}

.event-button {
    margin-top: 30px;
}

.test-table {
    display: none;
}

.genetic-distance-table .group.line-0 {
    border-top: 2px solid #000;
}

.genetic-distance-table .group-name {
    border-top: 2px solid #000;
}

.genetic-distance-table table {
    margin-top: 16px;
}

.genetic-distance-table .cell {
    width: 7rem;
}

.calcuate-distance {
    display: none;
}

.genetic-distance-results {
    display: none;
}

.result-desc p {
    font-size: 19px;
    font-weight: 500;
    border-bottom: 1px solid #cacaca;
}

.geometric-info {
    display: none;
    margin: 3rem 0 7rem 0;
}

.hardy-weinberg .card,
.pic-h .card,
.chi-independence .card,
.chi-goodness .card {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.calcuate-codominant,
.generate-table {
    display: none;
}

.materials-methods {
    word-break: break-all;
}

.sequences-tools-results .result-name,
.raw-seq-results .result-name {
    max-width: 100%;
}

.sequences-tools-results .result-value,
.raw-seq-results .result-value {
    min-width: 100%;
    border: none;
}

.sequences-tools-results .equal-char,
.raw-seq-results .equal-char {
    display: none;
}

.sequences-tools-results .result-name div,
.sequences-tools-results .result-value div,
.raw-seq-results .result-name div,
.raw-seq-results .result-value div {
    line-height: 15px;
}

.raw-sequences,
.upload-sequences,
.sequences-form-genebank {
    display: none;
}

.raw-sequences,
.upload-sequences,
.sequences-form-genebank {
    width: 100%;
}

.upload-file-info {
    height: 37px;
    line-height: 40px;
    display: inline-block;
    width: 75%;
    border: 1px solid #cacaca;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.alignment-wrapper {
    padding: 0 15px;
    background: #fafafa;
    border-radius: 5px;
    margin-top: 30px;
}

.alignment-wrapper .title {
    line-height: 36px;
    font-weight: bold;
}

.alignment {
    display: inline;
    float: left;
    text-align: left;
    overflow-x: scroll;
}

.dotplot-img {
    margin: 0 auto;
}

.matrix-wrapper table {
    margin: 0 auto;
}

.dataframe {
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.dataframe th,
.dataframe td {
    padding: 5px 10px;
}

.dataframe tr th {
    background: #e9ecef;
}

.dataframe thead th {
    border-bottom: 1px solid #dee2e6;
}

.dataframe tbody th {
    border-right: 1px solid #dee2e6;
}

.person {
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

.person img {
    width: 50%;
}

.profile-desc {
    text-align: left;
}